*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 1;
}



.inicio{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}








.barra{
    width: 58%;
   
  
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-around;


}

li{
    display: flex;
    color: #9767A9;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    


}
.busca{
    border: 3px solid #9767A9;
    border-radius: 50px;
    opacity: 1;
    padding: 3px 0.2em 0 0.6em;
    display: flex;


}


@media (max-width: 1170px){
 
    .menu{
        background-color: #9767A9;
        width: 82px;
        height: 85px;
        position: fixed;
        top: 0px;
        z-index: 999;
        left: 0%;
        
    }

    .hamburguer{
     position: relative;
     display: block;
     background: white;
     width: 30px;
     height: 3px;
     top: 45px;
     left: 25px;
     transition: 0.5s ease-in-out;
    }

    .hamburguer::before,
    .hamburguer::after{


        background:white;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-in-out;

    }

    .hamburguer::before{

        top:-10px;

    }


    .hamburguer::after{


        bottom: -10px;
    }

    input{

        display: none;
    }

    input:checked~label .hamburguer{
        transform: rotate(45deg);

    }

    input:checked~label .hamburguer:before{

        transform: rotate(90deg);
        top:0;


    }

    input:checked~label .hamburguer::after{
        transform: rotate(90deg);
        bottom:0;
    }


    .barra{

        /*background-color: #9767A9;*/
        height: 100%;
        width: 300px;
        position: fixed;
        transition: all .2s linear;
        left: -300px;

    }


    #check:checked~.barra {

        transform: translateX(300px);

    }



    ul{
        margin-top: 10px;
        height: 100%;
        display: block;
        width: 100%;
        margin-top: 582px;
    


    }

    li{
        height: 79px;
        display: flex;
        margin-bottom: 2px;
        color: white;
        font-size: 28px;
        background-color: #9767A9;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 1078px){




}


@media (min-width: 1170px){

    .input1{
        display: none;
    }

}







@media (max-width: 1170px){

    .busca{

        display: none;
    }
}

@media (max-width: 1170px){

    .icon{

        display: none;
    }
}

.pesquisar{

    border: none;
    outline: none;
}




a{
    text-decoration: none;

}

.background{
      background-image: url(imagens/cabeludo.png);
      background-size: 100%;
      background-repeat: no-repeat;
      height: 41vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
}


.text-backgroud-h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    
    
}
h1{ 
    
    color: white;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    font-size: 100px;
    width: 400px;

}

.text-backgroud-p{
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    width: 417px;
    font-weight: 100;
}

.caixa-roxa{
    background-color:#9767A9;
    height: 250px;
    display: flex;
    justify-content: space-around;
}


.caixa-p{
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
    width: 45%;
    display: flex;
    justify-content: center;
    display: flex;
    font-weight: 100;
    

}

.caixa-h2{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    flex-direction: column;
    width: 45%;
    height: 60%;
    display: flex;
    justify-content: center;
    
}



.position-box{


    position: absolute;
    width: 100%;
    top: 810px;
    left: 10px;

}


@media (min-width: 1634px){

.position-box{

        position: relative;
    width: 100%;
    top: -7%;
    left: 11px;



}

}

.box0{
    
    background-image: url(imagens/cabelo\ no\ espelho.png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    background-size: 88%;
    background-position-x: 50%;
    width: 100vh;
    height: 50vw;
 
}

.text0{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
    background-color: #9767A9;
    display: flex;
    width: 60%;
    height: 40%;
    display: table-footer-group;
    align-self: flex-end;
    margin-bottom: 5rem;
}



.h2-espelho{
    font-size: 24px;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-espelho{
    margin-left: 1rem;
}



.box2{

    background-image: url(imagens/NoPath\ -\ Copia\ \(18\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
    background-position-y: 50%;
}



.caixa2{
    height: 23vw;
    width: 55%;
    background-color: #9767A9;
    display: flex;
    flex-wrap: wrap;
    right: 155px;
    display: flex;
    align-self: flex-end;
}

.h2-18{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;
}

.p-18{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
}

.box3{

    background-image: url(imagens/NoPath\ -\ Copia\ \(19\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
    

    
}


.caixa3{

    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
    background-color: #9767A9;
    display: flex;
    width: 60%;
    height: 33%;
    display: table-footer-group;
    align-self: flex-end;
    margin-bottom: 7rem;
}

.h2-19{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.p-19{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
}


.box4{
    background-image: url(imagens/NoPath\ -\ Copia\ \(49\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
    background-position-y: 50%;
    
    
}

.caixa4{
    height: 21vw;
    width: 55%;
    background-color: #9767A9;
    display: flex;
    flex-wrap: wrap;
    right: 155px;
    display: flex;
    align-self: flex-end;
}
    

.h2-49{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;

}

.p-49{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;

}

.box5{
    background-image: url(imagens/NoPath\ -\ Copia\ \(55\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
    
}

.caixa5{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
    background-color: #9767A9;
    display: flex;
    width: 60%;
    height: 38%;
    display: table-footer-group;
    align-self: flex-end;
    margin-bottom: 7rem;


}



.h2-55{

    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;
    margin-bottom: 2rem;


}

.p-55{

    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;

}

.box6{
    background-image: url(imagens/NoPath\ -\ Copia\ \(56\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
    background-position-y: 50%;

}

.caixa6{

    height: 21vw;
    width: 55%;
    background-color: #9767A9;
    display: flex;
    flex-wrap: wrap;
    right: 155px;
    display: flex;
    align-self: flex-end;

}



.h2-56{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;

}

.p-56{

    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;

}


.box7{

    background-image: url(imagens/NoPath\ -\ Copia\ \(57\).png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    background-size: 88%;
    background-position-x: 50%;
    width: 50%;
}



.caixa7{

    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-left: 1em;
    background-color: #9767A9;
    display: flex;
    width: 60%;
    height: 32%;
    display: table-footer-group;
    align-self: flex-end;
    margin-bottom: 7rem;

}



.h2-57{

    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    flex-direction: column;
    width: 85%;
    margin-left: 1em;
    margin-top: 1rem;
    margin-bottom: 2rem;

}


.p-57{

    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    margin-left: 1em;


}

.box8{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.linha1{
    display: flex;
    width: 100%;
    height: 60vw;
    justify-content: flex-end;
    
}
.linha2{

    display: flex;
    width: 100%;
    height: 54vw;
    margin-bottom: 2rem;
}
.linha3{

    display: flex;
    width: 100%;
    height: 54vw;
    margin-bottom: 2rem;
}
.linha4{

    display: flex;
    width: 100%;
    height: 54vw;
    margin-bottom: 2rem;
}


.container-grid{

    display: flex;
    justify-items: center;
}



.img9{

    height: 565px;

}


.img10{
    height: 796px;


}
.gloria{

    width: 360px;
}

.snop{

    width: 250px;
}

.img52{
    width: 365px;

}

.img11{
    width: 245px;

}

.img14{
    width: 250px;


}

.img54{
    width: 250px;

}

.img53{
    width: 250px;

}

.img12{
    width: 248px;

}




.img-grid{
    margin: 2px;
    width: 250px;
}


.div3{

    margin-left: 3px;
}


.div1{
    width: 25%;
}

.img-grid{
    width: 20%;
}

.div2{
    width: 20%;

}

.div3{

    width: 20%;
}


.container-f{

    background-color:#9767A9 ;
    width: 100%;
    height: 5vw;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.setas{

    display: flex;
    width: 50%;
    justify-content: space-around;

}


.topo{

    display: flex;
    font-size: 21px;
    align-items: center;
    width: 64%;
    text-decoration: none;
    color: white;
}


.anterior{


    display: flex;
    font-size: 21px;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: white;

}


.proxima{
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 21px;
    align-items: center;
    width: 25%;


}
.ul-footer{
 
    display: flex;

}



